@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global style modules */
@import "./styles/layout.css";
@import "./styles/typography.css";
@import "./styles/components.css";
@import "./styles/hero.css";
